/* ex: set foldmethod=marker: */

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   {{{ ====================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 13px;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* }}} ======================================================================
   Browse Happy prompt
   {{{ ====================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/

/* }}} ======================================================================
   Author's custom styles
   {{{ ====================================================================== */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

[ng-click] {
  cursor: pointer;
}

body {
  background: #F8EED9;
}

ul {
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

#main {
  position: relative;
}

  #main::before,
  #main::after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 34px;
    background: #F8EED9 url(../img/squiggle.png) bottom repeat-x;
    z-index: 10;
  }

  #main::after {
    top: auto;
    bottom: 0;
    background-position: top;
  }

#logo {
  display: block;
  width: 176px;
  height: 38px;
  background: url(../img/logo.png) no-repeat;
  background-size: contain;
  margin-bottom: 53px;
}

#navigation {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 320px;
  padding: 84px 0;
}

  #navigation .content {
    max-width: 180px;
    margin: 0 auto;
  }

  .nav {
    margin-bottom: 4rem;
  }

  .nav li {
    position: relative;
    display: block;
    height: 32px;
    margin-bottom: 1em;
    margin-left: 14px; /* 14 - 31 */
  }

    /* The blunt end of the pencil */
    .nav li::before {
      display: block;
      content: "";
      position: absolute;
      right: 100%;
      top: 0;
      bottom: 0;
      width: 10px;
      margin-right: 3px;
      background: #D7A32E;
      border-radius: 6px 0 0 6px;
    }

    .nav li a {
      display: block;
      height: 32px;
      line-height: 32px;
      padding: 0 5px;
      color: #333;
      transition: all 0.3s ease;
    }

    .nav li.active a,
    .nav li:hover a {
      background: #E5C53C;
      color: #FFF;
    }

      /* The pencil tip wood */
      .nav li a::before,
      .nav li a::after {
        display: block;
        opacity: 0;
        content: "";
        position: absolute;
        left: 100%;
        top: 0;
        margin-left: 3px;
        border-style: solid;
        border-color: transparent transparent transparent #EBD8A3;
        border-width: 16px 31px;
        transition: opacity 0.3s ease;
      }

      .nav li.active a::before,
      .nav li.active a::after,
      .nav li:hover a::before,
      .nav li:hover a::after {
        opacity: 100;
      }

      /* The pencil tip */
      .nav li a::after {
        border-left-color: #000;
        top: 50%;
        margin-top: -6px;
        border-width: 6px 12px;
        margin-left: 22px;
      }

  .social {
    position: absolute;
    bottom: 90px;
  }

  .social ul {
    text-align: center;
  }

  .social li {
    display: inline-block;
    width: 36px;
    height: 36px;
    background-size: 36px 36px;
    background-positon: top left;
    margin: 0 3px;

  }

    .social .twitter {
      background-image: url(../img/social_twitter.png);
    }

    .social .instagram {
      background-image: url(../img/social_instagram.png);
    }

    .social .vimeo {
      background-image: url(../img/social_vimeo.png);
    }

    .social .youtube {
      background-image: url(../img/social_youtube.png);
    }

#body {
  margin-left: 320px;
}

.section {
  position: relative;
  min-height: 600px;
  min-height: 100vh;
  max-width: 800px;
  overflow-x: hidden;
  margin-right: 1.5em;
}

  .section .pages {
    width: 100%;
    display: table;
    margin-left: 0;
    transition: margin-left .3s ease;
  }

  .section .no-pages {
    padding-top: 150px;
    padding-bottom: 56px;
  }

  .section-page {
    display: table-cell;
    vertical-align: top;
    padding-top: 150px;
    padding-bottom: 56px;
  }

  .section h1,
  .section h2,
  .section h3,
  .section h4,
  .section h5,
  .section img,
  .section p {
    width: 500px;
    max-width: 100%;
    margin: 2em auto 1em auto;
  }

  .section img {
    display: block;
    margin: 1em auto;
  }

  .section p {
    margin: 1em auto;
  }

.selector {
}

  .selector .item {
    position: relative;
    float: left;
    margin: 13px;
    height: 165px;
    width: 165px;
  }

  .selector .image-wrapper {
    overflow: hidden;
  }

    .csstransforms .selector .image-wrapper::before,
    .csstransforms .selector .image-wrapper::after {
      content: "";
      display: block;
      position: absolute;
      background: #B37571;
      height: 13px;
      bottom: 0px;
      left: 0px;
      width: 100%;
      opacity: 0.8;
      transition: all 0.3s ease;
      max-width: 0;
      max-height: 0;
    }

    .csstransforms .selector .image-wrapper::after {
      width: 13px;
      height: 100%;
    }

    .csstransforms .selector .item:hover .image-wrapper::before,
    .csstransforms .selector .item:hover .image-wrapper::after {
      max-width: 100%;
      max-height: 100%;
    }

  .selector .item .image {
    overflow: hidden;
  }

  .selector .item img {
    display: block;
    margin: 0;
  }

    .csstransforms .selector .item .image::before,
    .csstransforms .selector .item .image::after {
      content: "";
      display: block;
      position: absolute;
      top: -13px;
      left: -13px;
      height: 0;
      width: 0;
      border: 12px solid transparent;
      border-right-color: #F8EED9;
      transform: rotate(45deg);
      z-index: 100;
    }

    .csstransforms .selector .item .image::after {
      top: auto;
      left: auto;
      bottom: -13px;
      right: -13px;
      border-right-color: transparent;
      border-left-color: #F8EED9;
    }

  .selector .view {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    color: white;
    line-height: 50px;
    text-transform: uppercase;
    margin-top: -25px;
    margin-left: -25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
    transition-delay: 0.3s;
  }

    .selector .item:hover .view {
      opacity: 1;
    }

    .selector .view:hover {
      background: rgb(110, 126, 190);
    }

  .csstransforms .selector .accents-one::before,
  .csstransforms .selector .accents-one::after,
  .csstransforms .selector .accents-two::before,
  .csstransforms .selector .accents-two::after {
    content: "";
    display: block;
    width: 50px;
    max-width: 0;
    opacity: 0;
    height: 0;
    border: 1px solid white;
    position: absolute;
    transition: all 0.3s ease;
    transition-delay: 0.3s;
  }

  .csstransforms .selector .item:hover .accents-one::before,
  .csstransforms .selector .item:hover .accents-one::after,
  .csstransforms .selector .item:hover .accents-two::before,
  .csstransforms .selector .item:hover .accents-two::after {
    max-width: 50px;
    opacity: 0.8;
  }

  .csstransforms .selector .accents-one,
  .csstransforms .selector .accents-two {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .csstransforms .selector .accents-one::before,
  .csstransforms .selector .accents-one::after {
    left: 20px;
    bottom: 20px;
    transform: rotate(-45deg);
    transform-origin: 0 0;
  }

  .csstransforms .selector .accents-one::after {
    bottom: auto;
    left: auto;
    top: 20px;
    right: 20px;
    transform-origin: 100% 0;
  }

  .csstransforms .selector .accents-two::before,
  .csstransforms .selector .accents-two::after {
    right: 20px;
    bottom: 20px;
    transform: rotate(45deg);
    transform-origin: 100% 0;
  }

  .csstransforms .selector .accents-two::after {
    right: auto;
    bottom: auto;
    top: 20px;
    left: 20px;
    transform-origin: 0 0;
  }

  .selector .caption {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0.9em;
  }

/* }}} ======================================================================
   Retina
   {{{ ====================================================================== */

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  #main::before,
  #main::after {
    background-image: url(../img/squiggle@2x.png);
    background-size: 230px 8px;
  }

  #logo {
    background-image: url(../img/logo@2x.png);
  }

  .social .twitter {
    background-image: url(../img/social_twitter@2x.png);
  }

  .social .instagram {
    background-image: url(../img/social_instagram@2x.png);
  }

  .social .vimeo {
    background-image: url(../img/social_vimeo@2x.png);
  }

  .social .youtube {
    background-image: url(../img/social_youtube@2x.png);
  }

}

/* ==========================================================================
   Short screen
   ========================================================================== */

@media
only screen and (max-height: 600px) {
  #navigation {
    overflow-y: auto;
  }

  #navigation .social {
    position: static;
  }

  .section .content {
    padding-top: 56px;
  }
}

/* ==========================================================================
   Tablet
   ========================================================================== */

@media
only screen and (max-width: 860px) {

  .section h1,
  .section h2,
  .section h3,
  .section h4,
  .section h5,
  .section img,
  .section p {
    width: 320px;
    max-width: 100%;
  }

  #navigation {
    width: 260px;
  }

  #body {
    margin-left: 260px;
  }

}

/* }}} ======================================================================
   Helper classes
   {{{ ====================================================================== */

.avatar {
  width: 50px;
  height: 50px;
  overflow: hidden;
  background: white;
  border-radius: 50%;
  margin: 0 auto;
}

.centered-text {
  text-align: center;
}

.pre-text {
  white-space: pre-line;
}

.csstransforms .section .content .vertically-center {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.italic {
  font-style: italic;
}

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.selector:before,
.selector:after,
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.selector:after,
.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.selector,
.clearfix {
    *zoom: 1;
}

/* }}} */
