<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="desk> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="desk"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="desk"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="desk"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Desk of NC</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="js/vendor/prefixfree.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser.  Please <a
        href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

    <div id="main">
      <div class="content">

        <div id="navigation">
          <div class="content">
            <div id="logo"></div>
            <nav class="nav">
              <ul>
                <menu-item href="#for-fun-experimental" title="For Fun / Experimental"></menu-item>
                <menu-item href="#promo-videos" title="Promo Videos"></menu-item>
                <menu-item href="#motion" title="Motion"></menu-item>
                <menu-item href="#graphic-illustration" title="Graphic / Illustration"></menu-item>
                <menu-item href="#about" title="About Me"></menu-item>
              </ul>
            </nav>
            <div class="social">
              <ul>
                <li class="twitter"><a href="https://www.twitter.com/pearl_tea"></a></li>
                <li class="instagram"><a href="http://www.instagram.com/pearl_tea"></a></li>
                <li class="vimeo"><a href="https://www.vimeo.com/user7477621"></a></li>
                <li class="youtube"><a href="https://www.youtube.com/user/pearltea"></a></li>
              </ul>
            </div>
          </div>
        </div>

        <div id="body">

         <section desk-section id="home-page">
            <p><center>
              Hi there - I like to make<br>random videos and eat vari-<br>ous
              assortments of food. Oh,<br>you too? Let's be friends.<br> Scroll away!
            </center></p>

            <img src="img/food icons/DeskofNC-Donut-100%-V2 copy.png" />

            <iframe src="https://player.vimeo.com/video/112027736"
            width="500"
            height="281"
            frameborder="0"
            webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

          </section>

          <section desk-section id="for-fun-experimental">

            <section-page>
              <div class="selector">
                <selector-item
                  src="img/thumbnails/2.png"
                  title="Dwerking"
                  click="setPage(2)"
                ></selector-item>

                <selector-item
                    src="img/thumbnails/1.png"
                    title="10cm - Music Video"
                    click="setPage(3)"
                ></selector-item>

                <selector-item
                    src="img/thumbnails/3.png"
                    title="The Next Episode"
                    click="setPage(4)"
                ></selector-item>

                <selector-item
                    src="img/thumbnails/Thumbnail-Stickies-100%.png"
                    title="Stop Motion Stickies"
                    click="setPage(5)"
                ></selector-item>
              </div>
            </section-page>

            <section-page>
              <h3>Dwerking</h3>

              <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/xdfIU_0jyEU?list=PL1Nf_a6rnUwY5VElPQGkVn7JAxP5OgMke"
              frameborder="0"
              allowfullscreen>
              </iframe>

              <p>
                A collaboration with some talented Bboys. Choreographed on the day
                according to the environment. The rough idea of the story was to
                portray the nostalgic and childish side of our everyday lives - everything
                can be fun.
              </p>

              <p><a href ng-click="setPage(1)">&lt;&lt;</a></p>

            </section-page>

            <section-page>

              <h3>10cm - Music Video</h3>

              <iframe
              width="420"
              height="315"
              src="https://www.youtube.com/embed/K6Q814eW_mU"
              frameborder="0"
              allowfullscreen>
              </iframe>

              <p>
                A simple music video cover using the assets available to us at the time.
                Experimenting on smooth camera movement with a forklift and a tripod. It
                was pretty dangerous but well worth it.
              </p>

              <p><a href ng-click="setPage(1)">&lt;&lt;</a></p>

            </section-page>


            <section-page>
              <h3>The Next Episode</h3>

              <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/_kxoBtyqunA"
              frameborder="0"
              allowfullscreen>
              </iframe>
              <p>A one-shot live performance in collaboration with some awesome Bboys
              and my musical friend on the Cajon. Stripping down to the basics of dancing
              with a simple beat and letting your body carry you.</p>

              <p><a href ng-click="setPage(1)">&lt;&lt;</a></p>
            </section-page>

            <section-page>

              <h3>Stop Motion Stickies</h3>
              <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/vh6fBrogEzM"
              frameborder="0"
              allowfullscreen>
              </iframe>
              <p>
              An assignment during AUT 2010 where we create an advertisement using the
              technique of Stop Motion.
              </p>
              <p><a href ng-click="setPage(1)">&lt;&lt;</a></p>

            </section-page>

          </section>

          <section desk-section id="promo-videos">

            <section-page>
              <div class="selector">
                <selector-item
                  src="img/thumbnails/Thumbnail-Battlecry-100%.png"
                  title="Battlecry 2013"
                  click="setPage(2)"
                ></selector-item>

                <selector-item
                    src="img/thumbnails/Thumbnail-Bestugly-100%.png"
                    title="Best Ugly Bagels"
                    click="setPage(3)"
                ></selector-item>

                <selector-item
                    src="img/thumbnails/Thumbnail-habitat-100%.png"
                    title="Habitat For Fitness"
                    click="setPage(4)"
                ></selector-item>

                <selector-item
                    src="img/thumbnails/Thumbnail-reachout-100%.png"
                    title="Reach Out 2014"
                    click="setPage(5)"
                ></selector-item>

              </div>
            </section-page>

            <section-page>
              <h3>Battlecry 2013</h3>

              <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/KP8qQPoJkkU"
              frameborder="0"
              allowfullscreen>
              </iframe>

              <p>
                A collaboration with TheBreaksNZ. Here is the recap video for
              one of the biggest events that is held
              every year in the Bboy community.
              </p>

              <p><a href ng-click="setPage(1)">&lt;&lt;</a></p>

            </section-page>

            <section-page>
              <h3>Best Ugly Bagels</h3>

              <iframe
              width="420"
              height="315"
              src="https://www.youtube.com/embed/TC5rVAC_9EU"
              frameborder="0"
              allowfullscreen>
              </iframe>

              <p>
                Thank you to Best Ugly Bagels for letting my friend and I observe
                and film! My first attempt at a promotional video and wanted to
                start off at one of my favorite spots.
              </p>

              <p><a href ng-click="setPage(1)">&lt;&lt;</a></p>

            </section-page>

            <section-page>
              <h3>Habitat For Fitness</h3>

              <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/2XYjZfgOuww"
              frameborder="0"
              allowfullscreen>
              </iframe>

              <p>
                Filming for Habitat For Fitness otherwise known as Kingsland Crossfit,
                was an amazing experience. The team is super friendly, helpful and patient.

              </p>

              <p><a href ng-click="setPage(1)">&lt;&lt;</a></p>

            </section-page>

            <section-page>
              <h3>Reach Out 2014</h3>

              <iframe
              width="560"
              height="315"
              src="https://www.youtube.com/embed/IB5pQS6PiaM"
              frameborder="0"
              allowfullscreen>
              </iframe>

              <p>
                A youth charity event held in the heart of Auckland to raise money
                and help cultivate creative arts. I had many roles within this event
                which includes marketing, graphic designer and assistant to the organizer.
              </p>

              <p><a href ng-click="setPage(1)">&lt;&lt;</a></p>

            </section-page>

          </section>





          <section desk-section id="motion">
            <section-page>
              <div class="selector">
                <selector-item
                  src="img/thumbnails/Thumbnail-work-100%.png"
                  title="Work"
                  click="setPage(2)"
                ></selector-item>

                <selector-item
                    src="img/thumbnails/Thumbnail-thegreendot-100%.png"
                    title="The Green Dot"
                    click="setPage(3)"
                ></selector-item>

                <selector-item
                    src="img/thumbnails/Thumbnail-kinatogether-100%.png"
                    title="Together-Kina Grannis MV"
                    click="setPage(4)"
                ></selector-item>

                <selector-item
                    src="img/thumbnails/Thumbnail-100days-100%.png"
                    title="100 Days Project 2014"
                    click="setPage(5)"
                ></selector-item>

              </div>
            </section-page>
          </section>

          <section desk-section id="graphic-illustration">
            <h3>Work</h3>
            <img src="img/graphicillustration/smallworld_resize.png" />
            <img src="img/graphicillustration/smallworld2_resize.png" />

            <p>Part of my final exhibition in AUT that involved the idea
            of Generation-Z becoming overwhelmed with technology.
            Please refer to "Work" video.</p>

            <h3>Reach Out</h3>
            <img src="img/graphicillustration/reachout.png" />
            <p>A charity event.</p>

            <h3>Christmas Cards</h3>
            <img src="img/graphicillustration/edchristmas.png" />
            <p>Gingerbread house made out of Eastern Dragon products</p>
          </section>

          <section desk-section id="about">
            <div class="centered-text pre-text italic">
              <div class="avatar"><img src="http://lorempixel.com/50/50"></div>

              Nicole Cheung
              nicole@deskofnc.com
              +6421 801 116

              Auckland University of Technology
              Bachelors of Design -
              Majoring in Graphic Design

              Media Design School
              Diploma of Visual Effects and
              Motion Graphics
            </div>
          </section>

        </div>

      </div>
    </div>

    <script src="js/vendor/angular.min.js"></script>
    <script src="js/vendor/angular-scroll.min.js"></script>
    <script src="js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
  </body>
</html>
