
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="desk> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" ng-app="desk"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="desk"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="desk"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Desk of NC</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css?1">
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser.  Please <a
        href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->

    <div id="main">
      <div class="content">

        <div id="navigation">
          <div class="content">
            <a id="logo" href="#home-page" du-smooth-scroll></a>
            <nav class="nav">
              <ul>
                <menu-item href="#for-fun-experimental" title="For Fun / Experimental"></menu-item>
                <menu-item href="#promo-videos" title="Promo Videos"></menu-item>
                <menu-item href="#motion" title="Motion"></menu-item>
                <menu-item href="#graphic-illustration" title="Graphic / Illustration"></menu-item>
                <menu-item href="#about" title="About Me"></menu-item>
              </ul>
            </nav>
            <div class="social">
              <ul>
                <li class="twitter"><a href="https://www.twitter.com/pearl_tea"></a></li>
                <li class="instagram"><a href="http://www.instagram.com/pearl_tea"></a></li>
                <li class="vimeo"><a href="https://www.vimeo.com/user7477621"></a></li>
                <li class="youtube"><a href="https://www.youtube.com/user/pearltea"></a></li>
              </ul>
            </div>
          </div>
        </div>

        <div id="body">

         <section desk-section id="home-page">
            <p><center>
              Hi there - I like to make<br>random videos and eat vari-<br>ous
              assortments of food. Oh,<br>you too? Let's be friends.<br>
            </center></p>

            <img style="width:32px!important;" src="img/doodles/donut.png" />



          </section>

          <section desk-section id="for-fun-experimental">

            <section-page>
              <div class="selector">
                <selector-item
                  src="img/thumbnails/2.png"
                  title="Dwerking"
                  click="setPage(2)"
                ></selector-item>

                <selector-item
                    src="img/thumbnails/1.png"
                    title="10cm - Music Video"
                    click="setPage(3)"
                ></selector-item>

                <selector-item
                    src="img/thumbnails/3.png"
                    title="The Next Episode"
                    click="setPage(4)"
                ></selector-item>

                <selector-item
                    src="img/thumbnails/Thumbnail-Stickies.png"
                    title="Stop Motion Stickies"
                    click="setPage(5)"
                ></selector-item>

                <selector-item
                    src="img/thumbnails/Thumbnail-daviddance.png"
                    title="Dance"
                    click="setPage(6)"
                ></selector-item>

                <selector-item
                    src="img/thumbnails/Thumbnail-journey.png"
                    title="Journey"
                    click="setPage(7)"
                ></selector-item>

              </div>
            </section-page>

            <section-page>
              <h3>Dwerking</h3>

              <iframe
              ng-if="loaded"
              width="560"
              height="315"
              src="https://www.youtube.com/embed/xdfIU_0jyEU?list=PL1Nf_a6rnUwY5VElPQGkVn7JAxP5OgMke"
              frameborder="0"
              allowfullscreen>
              </iframe>

              <p>
                A collaboration with some talented Bboys. Choreographed on the day
                according to the environment. The rough idea of the story was to
                portray the nostalgic and childish side of our everyday lives - everything
                can be fun.
              </p>

              <p><a href ng-click="setPage(1)">&lt;&lt;</a></p>

            </section-page>

            <section-page>

              <h3>10cm - Music Video</h3>

              <iframe
              ng-if="loaded"
              width="420"
              height="315"
              src="https://www.youtube.com/embed/K6Q814eW_mU"
              frameborder="0"
              allowfullscreen>
              </iframe>

              <p>
                A simple music video cover using the assets available to us at the time.
                Experimenting on smooth camera movement with a forklift and a tripod. It
                was pretty dangerous but well worth it.
              </p>

              <p><a href ng-click="setPage(1)">&lt;&lt;</a></p>

            </section-page>


            <section-page>
              <h3>The Next Episode</h3>

              <iframe
              ng-if="loaded"
              width="560"
              height="315"
              src="https://www.youtube.com/embed/_kxoBtyqunA"
              frameborder="0"
              allowfullscreen>
              </iframe>
              <p>A one-shot live performance in collaboration with some awesome Bboys
              and my musical friend on the Cajon. Stripping down to the basics of dancing
              with a simple beat and letting your body carry you.</p>

              <p><a href ng-click="setPage(1)">&lt;&lt;</a></p>
            </section-page>

            <section-page>

              <h3>Stop Motion Stickies</h3>
              <iframe
              ng-if="loaded"
              width="560"
              height="315"
              src="https://www.youtube.com/embed/vh6fBrogEzM"
              frameborder="0"
              allowfullscreen>
              </iframe>
              <p>
              An assignment during AUT 2010 where we create an advertisement using the
              technique of Stop Motion.
              </p>
              <p><a href ng-click="setPage(1)">&lt;&lt;</a></p>

            </section-page>

            <section-page>

              <h3>Dance</h3>
              <iframe
              ng-if="loaded"
              width="560"
              height="315"
              src="https://www.youtube.com/embed/tTYIFC7JjQk"
              frameborder="0"
              allowfullscreen>
              </iframe>
              <p>
              One of the first experimental dance videos a friend and I decided to do.
              </p>
              <p><a href ng-click="setPage(1)">&lt;&lt;</a></p>

            </section-page>

            <section-page>

              <h3>Journey</h3>
              <iframe
              ng-if="loaded"
              width="560"
              height="315"
              src="https://www.youtube.com/embed/fNNcW8F3wn0"
              frameborder="0"
              allowfullscreen>
              </iframe>

              <p>
                This is our video entry for "The Loop" Competition by Frontier in 2012.
                It had to be within 30 seconds, be able to loop and be able to
                be played and understood with no audio. It received Top 20 internationally.
              </p>
              <p><a href ng-click="setPage(1)">&lt;&lt;</a></p>

            </section-page>



          </section>

          <section desk-section id="promo-videos">

            <section-page>
              <div class="selector">
                <selector-item
                  src="img/thumbnails/Thumbnail-Battlecry.png"
                  title="Battlecry 2013"
                  click="setPage(2)"
                ></selector-item>

                <selector-item
                    src="img/thumbnails/Thumbnail-Bestugly.png"
                    title="Best Ugly Bagels"
                    click="setPage(3)"
                ></selector-item>

                <selector-item
                    src="img/thumbnails/Thumbnail-habitat.png"
                    title="Habitat For Fitness"
                    click="setPage(4)"
                ></selector-item>

                <selector-item
                    src="img/thumbnails/Thumbnail-reachout.png"
                    title="Reach Out 2014"
                    click="setPage(5)"
                ></selector-item>

                <selector-item
                    src="img/thumbnails/Thumbnail-pbnj.png"
                    title="PB &amp; J 2014"
                    click="setPage(6)"
                ></selector-item>

                <selector-item
                    src="img/thumbnails/Thumbnail-southside.png"
                    title="Southside Gig 2013"
                    click="setPage(7)"
                ></selector-item>

                <selector-item
                    src="img/thumbnails/Thumbnail-misschangyevent.png"
                    title="Miss Changy-CNY 2015"
                    click="setPage(8)"
                ></selector-item>

              </div>
            </section-page>

            <section-page>
              <h3>Battlecry 2013</h3>

              <iframe
              ng-if="loaded"
              width="560"
              height="315"
              src="https://www.youtube.com/embed/KP8qQPoJkkU"
              frameborder="0"
              allowfullscreen>
              </iframe>

              <p>
                A collaboration with TheBreaksNZ. Here is the recap video for
              one of the biggest events that is held
              every year in the Bboy community.
              </p>

              <p><a href ng-click="setPage(1)">&lt;&lt;</a></p>

            </section-page>

            <section-page>
              <h3>Best Ugly Bagels</h3>

              <iframe
              ng-if="loaded"
              width="420"
              height="315"
              src="https://www.youtube.com/embed/TC5rVAC_9EU"
              frameborder="0"
              allowfullscreen>
              </iframe>

              <p>
                Thank you to Best Ugly Bagels for letting my friend and I observe
                and film! My first attempt at a promotional video and wanted to
                start off at one of my favorite spots.
              </p>

              <p><a href ng-click="setPage(1)">&lt;&lt;</a></p>

            </section-page>

            <section-page>
              <h3>Habitat For Fitness</h3>

              <iframe
              ng-if="loaded"
              width="560"
              height="315"
              src="https://www.youtube.com/embed/2XYjZfgOuww"
              frameborder="0"
              allowfullscreen>
              </iframe>

              <p>
                Filming for Habitat For Fitness otherwise known as Kingsland Crossfit,
                was an amazing experience. The team is super friendly, helpful and patient.

              </p>

              <p><a href ng-click="setPage(1)">&lt;&lt;</a></p>

            </section-page>

            <section-page>
              <h3>Reach Out 2014</h3>

              <iframe
              ng-if="loaded"
              width="560"
              height="315"
              src="https://www.youtube.com/embed/IB5pQS6PiaM"
              frameborder="0"
              allowfullscreen>
              </iframe>

              <p>
                A youth charity event held in the heart of Auckland to raise money
                and help cultivate creative arts. I had many roles within this event
                which included marketing, graphic designer and assistant to the organizer.
              </p>

              <p><a href ng-click="setPage(1)">&lt;&lt;</a></p>

            </section-page>

            <section-page>
              <h3>PB &amp; J 2014</h3>

              <iframe
              ng-if="loaded"
              width="560"
              height="315"
              src="https://www.youtube.com/embed/zDD0TWYAzyA"
              frameborder="0"
              allowfullscreen>
              </iframe>

              <p>
                PB &amp; J stands for People Boogie and Jam. It was a great event where
                people were able to chill with good music and good people. We hired a
                live band and it was one of the best decisions.
              </p>

              <p><a href ng-click="setPage(1)">&lt;&lt;</a></p>

            </section-page>

            <section-page>
              <h3>Southside Gig 2013</h3>

              <iframe
              ng-if="loaded"
              width="560"
              height="315"
              src="https://www.youtube.com/embed/qQc_IZnvS3c"
              frameborder="0"
              allowfullscreen>
              </iframe>

              <p>
                This day-long event showcases youth-focused, contemporary
                urban art forms in the genre of hip hop. There are a few different
                components to the day.
              </p>

              <p><a href ng-click="setPage(1)">&lt;&lt;</a></p>

            </section-page>

            <section-page>
              <h3>Miss Changy - Chinese New Year 2015</h3>

              <iframe
              ng-if="loaded""
              width="560"
              height="315"
              src="https://www.youtube.com/embed/uFOLtVCp1Hk"
              frameborder="0"
              allowfullscreen>
              </iframe>

              <p>
                Thank you to Miss Changy for letting me film this awesome
                one of a kind event. It was one of the most memorable food
                nights I've had and I'm still drooling over it every time
                I watch this video. mm-MM!
              </p>

              <p><a href ng-click="setPage(1)">&lt;&lt;</a></p>

            </section-page>

          </section>





          <section desk-section id="motion">
            <section-page>
              <div class="selector">
                <selector-item
                  src="img/thumbnails/Thumbnail-work.png"
                  title="Work"
                  click="setPage(2)"
                ></selector-item>

                <selector-item
                    src="img/thumbnails/Thumbnail-thegreendot.png"
                    title="The Green Dot"
                    click="setPage(3)"
                ></selector-item>

                <selector-item
                    src="img/thumbnails/Thumbnail-kinatogether.png"
                    title="Together-Kina Grannis MV"
                    click="setPage(4)"
                ></selector-item>

                <selector-item
                    src="img/thumbnails/Thumbnail-100days.png"
                    title="100 Days Project 2014 Part 1"
                    click="setPage(5)"
                ></selector-item>

                <selector-item
                    src="img/thumbnails/Thumbnail-100daysMV.png"
                    title="100 Days Project 2014 Part 2"
                    click="setPage(6)"
                ></selector-item>

                <selector-item
                    src="img/thumbnails/Thumbnail-bloggie.png"
                    title="Sony Bloggie Student Ad 2012"
                    click="setPage(7)"
                ></selector-item>

                <selector-item
                    src="img/thumbnails/Thumbnail-food.png"
                    title="Tv Titles Student Ad 2012"
                    click="setPage(8)"
                ></selector-item>

                <selector-item
                    src="img/thumbnails/Thumbnail-showreel.png"
                    title="Showreel 2014"
                    click="setPage(9)"
                ></selector-item>

                <selector-item
                    src="img/thumbnails/Thumbnail-changyinstagram.png"
                    title="Miss Changy Intro"
                    click="setPage(10)"
                ></selector-item>

                <selector-item
                    src="img/thumbnails/Thumbnail-microsoft.png"
                    title="Ingram Micro-Microsoft"
                    click="setPage(11)"
                ></selector-item>

              </div>
            </section-page>

            <section-page>
              <h3>Work</h3>

              <iframe
              ng-if="loaded"
              width="420"
              height="315"
              src="https://www.youtube.com/embed/METsoduPizE"
              frameborder="0"
              allowfullscreen>
              </iframe>

              <p>
                This video was made for my final project in my Graphic Design
                degree in AUT during 2011. Dealing with the idea of Generation-Z taking the technology
                that we have for granted, and exaggerating the leverage that we have today.
              </p>

              <p><a href ng-click="setPage(1)">&lt;&lt;</a></p>

            </section-page>

            <section-page>
              <h3>The Green Dot</h3>

              <iframe
              ng-if="loaded"
              width="560"
              height="315"
              src="https://www.youtube.com/embed/RVG8gVUCVFw"
              frameborder="0"
              allowfullscreen>
              </iframe>

              <p>
              As an exercise during my year at Media Design School-we got given
              a default green dot animation to turn into 4 different things. I thought
              this theme was highly appropriate.. along with the sound effects made entirely
              by my friend and I - with our mouths.
              </p>

              <p><a href ng-click="setPage(1)">&lt;&lt;</a></p>

            </section-page>

            <section-page>
              <h3>Together-Kina Grannis MV</h3>

              <iframe
              ng-if="loaded"
              width="560"
              height="315"
              src="https://www.youtube.com/embed/mVfSXIK-cOw"
              frameborder="0"
              allowfullscreen>
              </iframe>

              <p>
              For our final project of our course in Media Design - we had to
              make a Music Video. Luckily I got permission from Kina Grannis who
              gave it a thumbs up and I was good to go. Judging from my projects
              during University where we had freedom to do anything, I think it's safe
              to say that I love the style of real video crossed with animation.
                </p>

              <p><a href ng-click="setPage(1)">&lt;&lt;</a></p>

            </section-page>

            <section-page>
              <h3>100 Days Project 2014 Part 1</h3>

              <iframe
              ng-if="loaded"
              width="560"
              height="315"
              src="https://www.youtube.com/embed/JtSjWwXKXsA"
              frameborder="0"
              allowfullscreen>
              </iframe>

              <iframe
              ng-if="loaded"
              width="560"
              height="315"
              src="https://www.youtube.com/embed/pwpzV__1Iio"
              frameborder="0"
              allowfullscreen>
              </iframe>

              <p>
              My first time participating in one of Auckland's creative events where you
              consecutively produce anything everyday for 100 days. I chose to do a 5 second
              animation everyday - using this opportunity for exploration. This video only shows
              the motion/idea side of things while the rest of the footage delved into possible
              Music Videos. Please see Part 2 for more.
                </p>

              <p><a href ng-click="setPage(1)">&lt;&lt;</a></p>

            </section-page>

            <section-page>
              <h3>100 Days Project 2014 Part 2</h3>

              <iframe
              ng-if="loaded"
              width="560"
              height="315"
              src="https://www.youtube.com/embed/pwpzV__1Iio"
              frameborder="0"
              allowfullscreen>
              </iframe>

              <p>
              My first time participating in one of Auckland's creative events where you
              consecutively produce anything everyday for 100 days. I chose to do a 5 second
              animation everyday - using this opportunity for exploration. This video only shows
              the Music Video/Animatic side of things while the rest of the footage delved into possible
              styles and ideas. Please see Part 1 for more.
                </p>

              <p><a href ng-click="setPage(1)">&lt;&lt;</a></p>

            </section-page>

            <section-page>
              <h3>Sony Bloggie Student Ad 2012</h3>

              <iframe
              ng-if="loaded"
              src="https://player.vimeo.com/video/72172899"
              width="500"
              height="275"
              frameborder="0"
              webkitallowfullscreen mozallowfullscreen allowfullscreen>
              </iframe>

              <p>
              One of the many assignments we received during Media Design School where we
              select a Sony product to make an advert for.
                </p>

              <p><a href ng-click="setPage(1)">&lt;&lt;</a></p>

            </section-page>

            <section-page>
              <h3>Tv Titles Student Ad 2012</h3>

              <iframe
              ng-if="loaded"
              src="https://player.vimeo.com/video/56136853"
              width="500"
              height="275"
              frameborder="0"
              webkitallowfullscreen
              mozallowfullscreen
              allowfullscreen>
              </iframe>

              <p>
              One of the many assignments we received during Media Design School where we
              make up a TV show and create the titles for it. Being the food lover I am, I created
              a food show where 3 famous foodies travel the world seeking the most authentic
              food.
                </p>

              <p><a href ng-click="setPage(1)">&lt;&lt;</a></p>

            </section-page>

            <section-page>
              <h3>Showreel 2014</h3>

              <iframe
              ng-if="loaded"
              src="https://player.vimeo.com/video/112027736"
              width="500"
              height="281"
              frameborder="0"
              webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

              <p>
            A showreel that contains my favorite experimentations and projects to date.
            Had a lot of fun editing to this awesome song as well.
                </p>

              <p><a href ng-click="setPage(1)">&lt;&lt;</a></p>

            </section-page>

            <section-page>
              <h3>Miss Changy Intro</h3>

              <iframe
              ng-if="loaded"
              src="https://player.vimeo.com/video/120338654"
              width="500"
              height="281"
              frameborder="0"
              webkitallowfullscreen mozallowfullscreen allowfullscreen>
              </iframe>

              <p>
                Did a simple collab animation with Miss Changy for her
                Chinese New Year themed pop-up eatery. She supplied all
                the graphics and I made it move. Check her out at
                misschangy.com!</p>

              <p><a href ng-click="setPage(1)">&lt;&lt;</a></p>

            </section-page>

          </section>

          <section-page>
            <h3>Ingram Micro-Microsoft Animation</h3>

            <iframe
            <iframe src="https://player.vimeo.com/video/130408573"
            width="500"
            height="281"
            frameborder="0"
            webkitallowfullscreen mozallowfullscreen allowfullscreen>
            </iframe>


            <p>
              A simple animation I did for my freelance job with Motion
              Sickness Studio for Microsoft.</p>

            <p><a href ng-click="setPage(1)">&lt;&lt;</a></p>

          </section-page>

        </section>

          <section desk-section id="graphic-illustration">


            <h3>Work</h3>
            <img src="img/graphicillustration/smallworld_resize.png" />
            <img src="img/graphicillustration/smallworld2_resize.png" />

            <p>Part of my final exhibition in AUT that involved the idea
            of Generation-Z becoming overwhelmed with technology.
            Please refer to "Work" video.</p>

            <h3>Reach Out</h3>
            <img src="img/graphicillustration/reachout.png" />
            <p>A youth charity event held in the heart of Auckland to raise money
            and help cultivate creative arts. I had many roles within this event
            which included marketing, graphic design and assistant to the organizer.</p>

            <h3>Christmas Cards</h3>
            <img src="img/graphicillustration/edchristmas.png" />
            <p>Gingerbread house made out of Eastern Dragon products</p>

            <h3>Eastern Dragon Experimental Ad</h3>
            <img src="img/graphicillustration/example_ed2.png" />
            <p>A prototype of a possible advert for a food magazine for Eastern Dragon
            products.</p>

            <h3>Digital Illustration 2011</h3>
            <img src="img/graphicillustration/digital_illustration.png" />
            <p>A final project for my Digital Illustration paper during my
            last year of AUT.</p>

            <h3>Blind Drawings 2011</h3>
            <img src="img/graphicillustration/blinddrawings.png" />
            <p>A page from my doodle journal during my last year of AUT. This is
            a piece where I did somewhat blind drawings of characters while I was
            watching TV shows.</p>

          </section>

          <section desk-section id="about">
            <div class="centered-text pre-text italic">
              <div class="avatar"><img src="img/social_aboutme4.png"></div>

              Nicole Cheung<br>nicole@deskofnc.com<br>

              Auckland University of Technology<br>Bachelors of Design -<br>Majoring in Graphic Design<br>

              Media Design School<br>Diploma of Visual Effects and<br>Motion Graphics
            </div>
          </section>

        </div>

      </div>
    </div>

    <script src="js/vendor/angular.min.js"></script>
    <script src="js/vendor/angular-scroll.min.js"></script>
    <script src="js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
  </body>
</html>
